<html ng-app="bugsquish">
	<head>
		<title>squish-a-bug</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="container" ng-controller="bugsquishController" ng-click="miss()">
			<h1>squish-a-bug</h1>
			<div id="score-info">
				<table>
					<tr>
						<td>Hits:</td>
						<td>0<!-- todo --></td>
					</tr>
					<tr>
						<td>Misses:</td>
						<td>0<!-- todo --></td>
					</tr>
				</table>
			</div>
			<span ng-repeat="bug in bugs" class="bug" ng-class="{squished: bug.squished}" style="left: {{ bug.x }}; top: {{ bug.y }};" ng-click="squish(bug, $event)"></span>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="lodash.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>